asyncpg==0.30.0
asyncpg-stubs==0.30.0
discord.py==2.4.0
marisa-trie==1.2.1
mypy==1.13.0
mypy-extensions==1.0.0
python-dotenv==1.0.1
requests==2.32.3
spacecases-common==0.7.1
types-requests==2.32.0.20241016
typing_extensions==4.12.2

